/* Body Styles */

body {
    font-family: Verdana;
    background-color: #ffffff;
    margin: 0px;
    background-image: url(./background.jpg.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  /* Header Styles  */
  
  header {
    display: flex;
    justify-content: space-between;
    background-color: #0b1135;
    color: #ffffff;
    padding: 3vh;
  }
  
  /* specify min-width for time element to give enough space for the span inside it to contain 3 digits without visibly moving the "time" text */
  
  time {
    min-width: 85px;
  }
  
  /* Main Styles */
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Button Styles */
  
  .button {
    display: block;
    color: #0b1135;
    background-color: #ffffff;
    padding: 2vh;
    border-radius: 8px;
    border: none;
  }
  button:hover {
    background-color: rgba(175, 191, 226, 0.178);
    color: #ffffff;
  }
  
  .inline-buttons {
    display: inline-flex;
  }
  
  /* Card Styles */
  
  .card {
    /* max-width: 80%; */
    margin-top: 15vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 30px;
    border-color: lightgray;
    max-width: 680px;
    
  }
  
  /* Start Card Styles */
  
  #start-screen {
    display: inline;
    text-align: center;
  }
  
  /* Question Card Styles */
  
  .option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
  }
  
  #result-div {
    display: none;
  }
  
  /* e Card Styles */
  
  .inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
  }
  
  /* Leaderboard Card Styles */
  
  #back-button {
    margin-right: 8px;
  }
  
  .highe-list {
    padding-inline-start: 20px;
  }
  #required{
  
    color: #ffffff;
 
  }
  

  
